
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/ErrorcssSheet1.css" rel="stylesheet" />
<div class="exit" style="text-align:right;padding-right:40px;padding-top:20px;color:gray;padding-bottom:3px;">
    <br />
    <h6><i class="fa fa-envelope"></i>&emsp;&emsp;<i class="fa fa-sign-out"></i>&emsp;<a href="http://localhost:53838/" style="color:gray;font-size:14px;">Çıkış</a></h6>
</div>
<br />
<br />
<center>
    <h5 style="font-size:13px;"><a href="http://localhost:53838/Main/Anasayfa" style="color:gray;font-size:13px;"><img src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/restart-1.png" style="width:100px;height:100px;"/></a></h5>
    <div class="yazi">
        <h2>Bu Sayfa Henüz Oluşturulmadı!!!!!</h2>
    </div>
</center>
