@{
    ViewBag.Title = "Anasayfa";
}
<link href="~/css/Giris.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<head>
    <title>ARD CRM|Ard CRM Anasayfa</title>
</head>
<body>
    <div class="exit" style="text-align:right;padding-right:40px;padding-top:20px;color:gray;padding-bottom:3px;">
        <br />
        <h6><i class="fa fa-envelope"></i>&emsp;&emsp;<i class="fa fa-sign-out"></i>&emsp;<a href="http://localhost:53838/" style="color:gray;font-size:14px;">Çıkış</a></h6>
    </div>
    <div class="baslangic" style="width:100%;height:80px;margin-top:10px;">
        <div class="yazı" style="width:100%;height:120px; background-color:white;color:slategray;">
            <h3>&emsp;&ensp;Ana Sayfa</h3>
            <h6>&emsp; &emsp;&emsp;ARD CRM'e hoşgeldiniz.</h6>
            <br />
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <pre style="background-color:#fff;border-width:0px;font-size:14px; color:gray;padding-top:9px;margin-bottom:0px;margin-top:13px;">
<strong>Copyright </strong>ARD Grup © 2014-2015                                                                                                                        www.<strong>ardgrup</strong>.com</pre>

</body>